<!doctype html>
<html>
<head>
	<title>Home Landing Page</title>
</head>

<body>
	<h1>GET POST Checker</h1>


	<h2>Sample GET Form</h2>
	<form action="Get.html" method="GET">
		FirstData: 	<input type="text" name="1Data"><br>
		SecondData: <input type="text" name="2Data"><br>
		ThirdData: 	<input type="text" name="3Data"><br>
		ForthData: 	<input type="text" name="4Data"><br>
  		GetSubmit	<input type="submit" value="Submit">
	</form>

	<br><br><br>

	<h2>Sample POST Form</h2>
	<form action="Post.html" method="Post">
		FirstData: 	<input type="text" name="1Data"><br>
		SecondData: <input type="text" name="2Data"><br>
		ThirdData: 	<input type="text" name="3Data"><br>
		ForthData: 	<input type="text" name="4Data"><br>
  		GetSubmit	<input type="submit" value="Submit">
	</form>
</body>
</html>